{
  "openapi": "3.0.1",
  "info": {
    "title": "App Store Connect API",
    "version": "3.1",
    "x-platform": "app_store_connect_api"
  },
  "servers": [
    {
      "url": "https://api.appstoreconnect.apple.com/"
    }
  ],
  "paths": {
    "/v1/salesReports": {
      "get": {
        "tags": ["SalesReports"],
        "operationId": "salesReports-get_collection",
        "parameters": [
          {
            "name": "filter[frequency]",
            "in": "query",
            "description": "filter by attribute 'frequency'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["DAILY", "WEEKLY", "MONTHLY", "YEARLY"]
              }
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "filter[reportDate]",
            "in": "query",
            "description": "filter by attribute 'reportDate'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          },
          {
            "name": "filter[reportSubType]",
            "in": "query",
            "description": "filter by attribute 'reportSubType'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": ["SUMMARY", "DETAILED"]
              }
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "filter[reportType]",
            "in": "query",
            "description": "filter by attribute 'reportType'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "SALES",
                  "PRE_ORDER",
                  "NEWSSTAND",
                  "SUBSCRIPTION",
                  "SUBSCRIPTION_EVENT",
                  "SUBSCRIBER",
                  "SUBSCRIPTION_OFFER_CODE_REDEMPTION"
                ]
              }
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "filter[vendorNumber]",
            "in": "query",
            "description": "filter by attribute 'vendorNumber'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": true
          },
          {
            "name": "filter[version]",
            "in": "query",
            "description": "filter by attribute 'version'",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "style": "form",
            "explode": false,
            "required": false
          }
        ],
        "responses": {
          "400": {
            "description": "Parameter error(s)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "List of SalesReports",
            "content": {
              "application/a-gzip": {
                "schema": {
                  "$ref": "#/components/schemas/gzip"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "status": {
                  "type": "string"
                },
                "code": {
                  "type": "string"
                },
                "title": {
                  "type": "string"
                },
                "detail": {
                  "type": "string"
                },
                "source": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ErrorSourcePointer"
                    },
                    {
                      "$ref": "#/components/schemas/ErrorSourceParameter"
                    }
                  ]
                }
              },
              "required": ["code", "detail", "title", "status"]
            }
          }
        }
      },
      "ErrorSourceParameter": {
        "type": "object",
        "title": "Parameter",
        "properties": {
          "parameter": {
            "type": "string"
          }
        }
      },
      "ErrorSourcePointer": {
        "type": "object",
        "title": "JsonPointer",
        "properties": {
          "pointer": {
            "type": "string"
          }
        }
      },
      "gzip": {
        "type": "string",
        "format": "binary"
      }
    },
    "securitySchemes": {
      "itc-bearer-token": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "itc-bearer-token": []
    }
  ]
}
